.card {
  background-color: var(--clr-neutral-card-bg);
  border-radius: 1rem;
  padding: 1.5rem;
  max-width: 350px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
}

.card__image {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card__image:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsla(178, 100%, 50%, 0.5) url(../images/icon-view.svg) no-repeat
    center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.text-white:hover {
  color: var(--clr-primary-cyan);
  cursor: pointer;
  transition: color 0.3s ease;
}

.card__content {
  --flow-space: 1.25rem;
  padding: 1.5rem 0 0.5rem;
}

.card__divider {
  height: 1px;
  background-color: var(--clr-neutral-line);
}

.creator-avatar {
  width: 2rem;
  border: 1px solid var(--clr-neutral-white);
  border-radius: 50%;
}
