.padding-sm {
  padding: 1.5rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.gap-md {
  gap: 1rem;
}

.gap-sm {
  gap: 0.5rem;
}

.border-r {
  border-radius: 0.625rem;
}

.fw-light {
  font-weight: var(--fw-light);
}
